@font-face {
    font-family: 'Kabisat';
    src: url('../fonts/Kabisat Demo-ItalicTall.ttf');
}

@font-face {
    font-family: 'TT Autonomous';
    src: url('../fonts/TT-Autonomous-Trial-2-000 2/TT Autonomous Trial Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Pocket Ball';
    src: url('../fonts/pocket-ball-cufonfonts/PocketBall-PwG2.otf') format('opentype');
    font-style: normal;
}

header {
    width: 100%;
    height: 50px;
    background-color: #000000;
    color:white;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row-reverse;
    font-family: 'TT Autonomous', Arial, Helvetica, sans-serif;
}


body {
    font-family: 'TT Autonomous', Arial, sans-serif;
    background-color: rgb(139, 139, 139);
    margin: 0 auto;
    text-align: center;
}

p {
    font-size: 150%; 
}

img.hover-shadow {
    transition: 0.3s;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

div {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;

}

div.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

div.gallery-item {
    margin: 5px;
    border: 3px solid transparent;
    width: 600px;
    height: fit-content;
    position: relative;
    top: 30%;
    right: 5%;
    opacity: 0;
    animation: fadeIn 1s ease-out 1s forwards;
    transition: transform 0.3s ease;
}

div.gallery-item:hover {
    transform: scale(1.01);
}

h2 {
    position: absolute;
    bottom: 10%;
    right: 45%;
}

div.gallery-item video {
    margin: 5px;
    border: 0 solid transparent;
    width: 600px;
    height: auto;
    opacity: 0;
    animation: fadeIn 1s ease-out 1s forwards;
}

div.gallery-item div.desc {
    padding: 10px;
    text-align: center;
    animation: fadeIn 1s ease-out 1s forwards;
    font-family: 'Pocket Ball', Arial, sans-serif;
    color: #000000;
    /*transition: 1s ;*/
}

div.gallery-item img {
    width: 100%;
    height: fit-content;
    animation: fadeIn 1s ease-out 1s forwards;
}


h1, a {
    margin: 0 auto;
    font-display: block;
    font-weight: 100;

}

nav {
    text-transform: uppercase;
}

nav a:hover {
    background-color: cyan;
    transition: all 0.5s ease 0s;
    
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: white;
}



.container {
    width: 100%;
    height: 100vh;
    position: relative;
}

video:hover {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5),0 6px 20px 0 rgba(0, 0, 0, 0.5);
}

div.text {
    animation: fadeIn 1s ease-out forwards;
    font-size: larger;
    text-transform: uppercase;
    position: absolute;
    top: 5%;
    left: 25%;
    transform: translate(-50%);
}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

li {
    box-sizing: border-box;
    top: 50%;
    bottom: 50%;
    display: inline-block;
    justify-content: left;
    align-items: flex-start;
}

@keyframes fadeIn {
    0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
