@font-face {
    font-family: 'Kabisat';
    src: url('../fonts/Kabisat Demo-ItalicTall.ttf');
}

@font-face {
    font-family: 'TT Autonomous';
    src: url('../fonts/TT-Autonomous-Trial-2-000 2/TT Autonomous Trial Regular.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

header {
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row-reverse;
}


body {
    margin: auto;
    font-family: 'TT Autonomous', Arial, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('../images/shibyuacollisioncover2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
}

div {
    display: grid;
    margin: 0 auto;
    justify-content: center;
    text-align: center;

}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover {
    background-color: cyan;
    transition: all 0.5s ease 0s;
    
    
}

nav {
    text-transform: uppercase;
}

nav a:hover {
    background-color: cyan;
    transition: all 0.5s ease 0s;
    
}


h1, a {
    margin: 0 auto;
    font-display: block;
    font-weight: 100;

}

ul {
    list-style-type: none;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
}

li {
    box-sizing: border-box;
    top: 50%;
    bottom: 50%;
    display: inline-block;
    justify-content: left;
    align-items: flex-start;
}

/*
@keyframes fadeIn {
    0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
*/